.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  min-height: 100vh;
  background-color: #616161;
  font-family: "Google sans", sans-serif;
  position: relative;
  min-width: 1536px;
}

/* Header start */

h2 {
  margin: 0;
}

.header {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #484848;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.left-header-part,
.search-form {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  gap: 20px;
}

.right-header-part {
  width: 50%;
}

.search {
  overflow: hidden;
  display: flex;
  gap: 20px;
  width: 85%;
  background-color: #616161;
  border-radius: 50px;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
}

#search-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: none;
}

#search-query-input {
  height: 20px;
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}

.input-search-btn-holder {
  position: relative;
  margin-left: 1px;
}

.input-search-btn-holder::before {
  position: absolute;
  content: url("../../images/search.svg");
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.input-search-btn-holder::after {
  position: absolute;
  content: "";
  top: 0;
  left: -200px;
  width: 100%;
  height: 100%;
  background-color: #ffffff58;
  border-radius: 50%;
  box-shadow: -1px 0 0px 1px #ffffff58;
  transition: 0.3s;
}

.input-search-btn-holder:hover:after {
  left: 0;
}

/* Header end */

/* main start */

.main {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-top: 52px;
}

.main-inner-content {
  width: 82%;
  background-color: #2f2f2f;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.video-elem {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  border-bottom: 1px solid #616161;
  color: white;
  max-height: 80px;
}

.vertical-separate-line {
  height: 20px;
  border-left: 1px solid #ffffff45;
}

.elem-fixed-widht {
  display: block;
  width: calc(100% / 5);
  text-align: center;
}

.elem-id,
.elem-inportant-level {
  max-width: 100px;
}

.interract-buttons-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 25px;
}

.interract-buttons-holder::-webkit-scrollbar {
  height: 5px !important;
}

.interract-button {
  padding: 0 5px;
}

.interract-button img {
  width: 20px;
  height: 20px;
}

/* main end */

/* comment modal window */

.outer-modal-window-part {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000035;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-modal-window {
  width: 600px;
  height: 400px;
  background-color: #5e5e5e;
  border-radius: 10px;
  border: 0.5px solid #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  color: #fff;
}

.comment-text {
  height: 100%;
  border: 1px solid #fff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #fff;
  overflow: auto;
  word-break: break-all;
  line-height: 1.5;
}

.preview-file-block {
  width: 600px;
  height: 600px;
}

label[for="dwn-load-btn"] {
  position: absolute;
  top: 0;
  left: 0;
  height: fit-content;
}

label[for="dwn-load-btn"] img {
  height: 20px;
}

.outerPreviewDiv {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.bookPreview {
  width: 100%;
  height: 100%;
}

.forCloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

.previewHolder {
  width: 80%;
  height: 80%;
}

.spravka {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #616161;
  border: 1px solid #fff;
  border-radius: 9999px;
  overflow: hidden;
}

.spravka-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
}

.exit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #fff;
  width: 30px;
  height: 30px;
}

#elem-interractive-text-id {
  width: 380px;
}

#interract-buttons-holder-id {
  width: fit-content;
}
