.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Google sans", sans-serif;
  background-color: #545454;
}

.data-form {
  height: 100%;
  bottom: -101%;
  position: absolute;
  transition: 0.3s;
}

.title-log-in {
  margin: 20px 10px;
}

.wrapper {
  height: 350px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #c8c8c8;
  overflow: hidden;
}

.inner-content {
  height: 100%;
  width: 100%;
  background-color: #717171;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  padding: 20px 0px;
}

#input-container-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.input-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}
.input-container .user-data-inpt {
  position: relative;
  color: #fff;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: #3e3e3e;
}

.around-line {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.line-1 {
  top: 36px;
}

.line-3 {
  top: 56px;
}

.line-4 {
  top: 92px;
}

.inpt-icon {
  position: absolute;
}

.user-icon {
  right: 10px;
  top: 6px;
  color: #fff;
}

.lock-icon {
  right: 10px;
  top: 62px;
}

.group-icon {
  right: 10px;
  top: 117px;
}

.form-button {
  color: #fff;
  width: 90%;
  padding: 5px 20px;
  background-color: #3e3e3e;
  border: none;
  outline: none;
  border-radius: 5px;
}

#cancel-btn {
  margin-top: 10px;
}

.sign-up {
  height: 100%;
  width: 100%;
  background-color: #717171;
}

.get-up-sign-up {
  width: 30px;
  height: 30px;
  background-color: #ffffff5a;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -80px;
  left: calc(50% - 15px);
  border-radius: 50%;
}

.get-up-sign-up::before {
  position: absolute;
  content: "Регистрация";
  bottom: -90%;
  text-transform: lowercase;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.get-up-sign-up img {
  width: 15px;
}

#im-a-lecturer {
  margin: 20px 0 10px;
  margin-left: 10px;
}

.check-label {
  text-transform: lowercase;
  letter-spacing: 1px;
  font-weight: 600;
}

/* ____________________________ inner-modal-window ____________________________ */

.modal-window-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 320px;
  height: 170px;
  background-color: #696969;
  top: calc(50% - 85px);
  left: calc(50% - 160px);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  color: #fff;
  border: 1px solid #c8c8c8;
}

.inner-modal-window {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-btn-holder {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal-window-inpt {
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.inner-modal-window h1 {
  margin: 10px 0;
}

.inn-modal-window-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
}

.inn-modal-window-btn:active {
  background-color: #b8b8b8;
}

/* on incorrect or absense data in the inputs */

.hidden-warning {
  display: none;
  position: absolute;
  left: 10px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: rgb(186, 0, 0);
}

#unpropriate-email {
  top: 37px;
}

#unpropriate-password {
  top: 93px;
}

/* sign-up hidden inputs position*/

#sign-up-unpropriate-password {
  top: 93px;
}

#sign-up-unpropriate-group {
  top: 147px;
}

#sign-up-unpropriate-email {
  top: 37px;
}

/* when it needs to show warnings */

.showed-warning {
  display: block;
}

.form-buttons-holder {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding: 0 10px;
}

.check-password {
  border-radius: 10px;
  width: 300px;
  height: fit-content;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #c8c8c8;
}

.forgot-pass-text {
  color: #fff;
  position: absolute;
  right: 10px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  top: 93px;
  cursor: pointer;
}

.forgot-pass-text:hover {
  text-decoration: underline;
}

.forgotPassModalWindowStyle {
  display: flex;
  gap: 10px;
  position: absolute;
  width: 320px;
  height: 180px;
  background-color: #696969;
  top: calc(50% - 90px);
  left: calc(50% - 160px);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  color: #fff;
  border: 1px solid #c8c8c8;
}

.forgotPassModalWindowStyle h2 {
  margin: 0;
}

.forgotPassBtn {
  color: #fff;
  width: 30%;
  padding: 5px 20px;
  background-color: #3e3e3e;
  border: none;
  outline: none;
  border-radius: 5px;
}

.forgotPassnavig {
  width: 50%;
  max-height: 60px;
  font-size: 0.8em;
  cursor: pointer;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 1px solid #fff;
}

#cancel-forgot-pass-btn {
  position: absolute;
  bottom: 15px;
}

#hint-question-window {
  flex-direction: column;
  align-items: center;
  overflow: auto;
  word-break: break-all;
}
