.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #616161;
  font-family: "Google sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #363636;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  position: sticky;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.main {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-top: 54px;
}

.header h2 {
  margin: 0;
  font-size: 30px;
}

.exit-btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.test-maker-outer {
  width: 800px;
  min-width: 800px;
  background-color: #4e4c4c;
  position: relative;
}

.add-quiz-elen {
  background-color: #fff;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}

#add-quiz-elen {
  position: fixed;
  top: 100px;
  left: calc(50% - 490px);
  width: 50px;
  height: 50px;
}

.add-quiz-elen img {
  width: 34px;
  height: 34px;
}

#add-answer-elen {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 20px;
  top: 95px;
}

#add-answer-elen img {
  width: 20px;
  height: 20px;
}

.test-maker-inner {
  height: 100%;
}

.quiz-elem {
  width: 100%;
  padding: 10px;
  height: fit-content;
  background-color: #2a2a2a;
  box-sizing: border-box;
  border: 1px solid #ababab;
  border-top: 3px solid #ababab;
  position: relative;
  padding-top: 40px;
  margin-bottom: 5px;
}

hr {
  margin: 15px 0;
}

.question {
  margin-left: 27px;
}

.question-elem {
  width: 70%;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  padding: 5px 10px;
  letter-spacing: 0.5px;
  color: #fff;
}

.question-elem::placeholder {
  color: #fff;
}

.answer-id {
  color: #fff;
  margin-left: 5px;
}

.answer-holder {
  display: flex;
  align-items: center;
  gap: 10px;
}

.question-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-id {
  margin-right: 20px;
  color: #fff;
}
